In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataset_name_crm_data = 'Data_CRM'
dataset_name_marketing = 'Data_Marketing'

In [3]:
df_data_crm = pd.read_excel(r'GB_Data_Analyst_Interim_certification_2023-08_v01.xlsx',\
                            sheet_name=dataset_name_crm_data)

In [4]:
df_data_marketing = pd.read_excel(r'GB_Data_Analyst_Interim_certification_2023-08_v01.xlsx',
                                  sheet_name=dataset_name_marketing)

In [5]:
df_data_crm[['Client_ID','Tag_ComingToDealer','Tag_ModelCalc','Tag_Sale']].head(25)

                      Client_ID  Tag_ComingToDealer  Tag_ModelCalc  Tag_Sale
0   GA1.2.1108606219.1572272784                   0              0         0
1    GA1.2.125017234.1571028033                   1              0         0
2   GA1.2.1823974094.1570697747                   0              0         0
3   GA1.2.1823974094.1570697747                   1              0         0
4    GA1.2.554197778.1572516039                   0              0         0
5    GA1.2.702909787.1572668704                   0              0         0
6    GA1.2.730171603.1569937181                   0              0         0
7    GA1.2.730171603.1569937181                   0              0         0
8    GA1.2.730171603.1569937181                   0              0         0
9    GA1.2.276567367.1579082367                   0              0         0
10  GA1.2.1081975215.1571472349                   1              1         0
11  GA1.2.1081975215.1571472349                   0              0         0
12  GA1.2.1537731947.1571378524                   1              1         1
13  GA1.2.1067260226.1573748856                   0              0         0
14   GA1.2.113826873.1573857851                   0              0         0
15  GA1.2.1611513157.1574872756                   1              1         1
16  GA1.2.1946057820.1575010424                   0              0         0
17  GA1.2.1320632480.1579604179                   0              0         0
18  GA1.2.1613415903.1576401842                   0              0         0
19  GA1.2.1254914830.1577684700                   0              0         0
20  GA1.2.1395846009.1577288457                   0              0         0
21  GA1.2.1440238289.1577617774                   1              1         0
22  GA1.2.1440238289.1577617774                   0              0         0
23  GA1.2.1440238289.1577617774                   0              0         0
24  GA1.2.1624707520.1577696218                   0              0         0

In [6]:
df_data_marketing[['ID','Client_ID','Date','Conversion']].head(25)

    ID                    Client_ID       Date  Conversion
0    1  GA1.2.1029165320.1581675414 2020-02-14           1
1    2  GA1.2.1029165320.1581675414 2020-02-14           1
2    3  GA1.2.1029165320.1581675414 2020-02-14           1
3    4   GA1.2.360702973.1573932024 2020-01-28           0
4    6  GA1.2.1029165320.1581675414 2020-02-14           1
5    7  GA1.2.1394084210.1579796276 2020-01-23           0
6    8  GA1.2.1029165320.1581675414 2020-02-14           0
7   11  GA1.2.1612465029.1581839176 2020-02-16           1
8   12   GA1.2.172612889.1581947825 2020-02-17           0
9   13   GA1.2.744478207.1580078812 2020-01-27           0
10  14   GA1.2.343495629.1578167900 2020-01-04           0
11  15   GA1.2.343495629.1578167900 2020-01-05           0
12  16   GA1.2.878543682.1579350332 2020-01-18           0
13   9  GA1.2.1235381720.1579517675 2020-01-20           0
14  10  GA1.2.1235381720.1579517675 2020-01-30           0
15  17  GA1.2.1462517783.1579867816 2020-01-24           1
16   5  GA1.2.1394084210.1579796276 2020-01-27           1
17  18  GA1.2.1462517783.1579867816 2020-01-24           1
18  19  GA1.2.1462517783.1579867816 2020-01-24           0
19  20  GA1.2.1462517783.1579867816 2020-01-24           0
20  21   GA1.2.537961940.1579817846 2020-01-24           1
21  22   GA1.2.367965448.1580649669 2020-02-02           0
22  23   GA1.2.367965448.1580649669 2020-02-02           0
23  24  GA1.2.1748602781.1564902964 2020-01-14           0
24  25  GA1.2.1748602781.1564902964 2020-01-14           1

In [8]:
df_data_marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66162 entries, 0 to 66161
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           66162 non-null  int64
 1   Client_ID                    66162 non-null  object
 2   Domain                       66162 non-null  object
 3   City                         66162 non-null  object
 4   Region                       66162 non-null  object
 5   Browser                      66162 non-null  object
 6   Device_Category              66162 non-null  object
 7   Date                         66162 non-null  datetime64[ns]
 8   Pageviews                    66162 non-null  int64
 9   Campaign                     66162 non-null  object
 10  Keyword                      66162 non-null  object
 11  Medium                       66162 non-null  object
 12  Source                       66162 non-null  object
 13  Avg_Session_Duration         66162 non-null  object
 14  Bounce_Rate                  66162 non-null  object
 15  Sessions                     66162 non-null  int64
 16  Goal_Completion_Location     66162 non-null  object
 17  Goal_Completions             66162 non-null  int64
 18  Goal_Conversion_Rate         66162 non-null  float64
 19  Goal_Value                   66162 non-null  int64
 20  Conversion                   66162 non-null  int64
 21  Source_conv                  66162 non-null  object
 22  Brand                        66162 non-null  object
 23  Model                        11653 non-null  object
 24  Ref_Models_Price             11653 non-null  float64
 25  Ref_Models_CurrencyCode_Str  11653 non-null  object
 26  Ref_Models_Price_RUR         11653 non-null  float64
 27  Ref_Models_Marginality_RUR   11653 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(6), object(17)
memory usage: 14.1+ MB

In [9]:
df_data_marketing.sort_values(by=['Client_ID','Date','Conversion'], ascending=[True, True, True], inplace=True)

In [10]:
df_data_crm.sort_values(by=['Client_ID','Tag_ComingToDealer','Tag_ModelCalc','Tag_Sale'],\
                        ascending=[True, True, True, True], inplace=True)

In [11]:
df_data_marketing.reset_index(drop= True , inplace= True)
df_data_crm.reset_index(drop= True , inplace= True )

In [174]:
if 'tag' in df_data_marketing.columns.to_list():
    df_data_marketing.drop(['tag'], axis= 1 , inplace= True )    
df_data_marketing.insert (loc= len(df_data_marketing.columns), column='tag',
                            value=[0 for i in range(len(df_data_marketing))])
if 'tag' in df_data_crm.columns.to_list():
    df_data_crm.drop(['tag'], axis= 1 , inplace= True )    
df_data_crm.insert (loc= len(df_data_crm.columns), column='tag',
                            value=[0 for i in range(len(df_data_crm))])

In [175]:
#df_merge = pd.DataFrame(columns=['ID_M','ID_C'])

In [176]:
#df_merge.loc[len(df_merge.index)] = [0,0]

In [177]:
df_data_marketing_gr = df_data_marketing[['Client_ID','ID']].groupby('Client_ID').\
count().reset_index().rename(columns={'ID':'count'})

In [178]:
#df_data_marketing_gr = df_data_marketing_gr.loc[df_data_marketing_gr['Client_ID'].isin([
 #   'GA1.2.999536820.1579671388',
  #  'GA1.2.100127757.1579178167',
   # 'GA1.2.1001322588.1575041368'])]
#df_data_marketing_gr = df_data_marketing_gr.loc[df_data_marketing_gr['Client_ID'] == 'GA1.2.100127757.1579178167']

In [179]:
df_data_marketing_gr

                         Client_ID  count
0      GA1.2.1000037439.1576672694      1
1      GA1.2.1000100466.1580498751      1
2      GA1.2.1000144581.1577322293      1
3      GA1.2.1000154585.1581097166      1
4      GA1.2.1000156589.1580366503      1
...                            ...    ...
40047   GA1.2.999536820.1579671388      2
40048   GA1.2.999548751.1578482710      1
40049   GA1.2.999713054.1578007070      1
40050   GA1.2.999906876.1578680227      2
40051    GA1.3.53617215.1568925694      1

[40052 rows x 2 columns]

In [180]:
df_merge = pd.DataFrame(columns=['ID_M','ID_C'])
for i in range(len(df_data_marketing_gr)):    
    exp_f_marketing = df_data_marketing['Client_ID'] == df_data_marketing_gr.iloc[i]['Client_ID']#матрица фильтрации marketing 
    exp_f_crm = df_data_crm['Client_ID'] == df_data_marketing_gr.iloc[i]['Client_ID']#матрица фильтрации crm
    if df_data_marketing_gr.iloc[i]['count'] == 1:
        df_merge.loc[len(df_merge.index)] = [df_data_marketing[exp_f_marketing]['ID'].values[0],
                                             df_data_crm[exp_f_crm]['ID'].values[0]]
        df_data_marketing.loc[exp_f_marketing,['tag']] = 1
        df_data_crm.loc[exp_f_crm,['tag']] = 1
    else:
        # df_data_crm_f = df_data_crm[exp_f_crm]
        ic = 0
        rc = np.NaN     
        for im, rm in df_data_marketing[exp_f_marketing].iterrows():
            ic = 0
            rc = np.NaN
            # print(im, rm['ID'])
            if rm['Conversion'] == 0:
                for ic, rc in df_data_crm[(exp_f_crm) & (df_data_crm['tag'] == 0) & 
                                         (df_data_crm['Tag_ComingToDealer'] == 0)].iterrows():
                    df_merge.loc[len(df_merge.index)] = [rm['ID'], rc['ID']]
                    df_data_marketing.at[im, 'tag'] = 1
                    df_data_crm.at[ic, 'tag'] = 1
                    break
            else:  # нужно искать первую попавшуюся запись с визитом к дилеру 
                for ic, rc in df_data_crm[(exp_f_crm) & (df_data_crm['tag'] == 0)].iterrows():
                    if rc['Tag_ComingToDealer'] == 1: 
                        break # если эта запись 
                df_merge.loc[len(df_merge.index)] = [rm['ID'], rc['ID']]
                df_data_marketing.at[im, 'tag'] = 1
                df_data_crm.at[ic, 'tag'] = 1

In [157]:
#pd.set_option('display.max_rows', None)
#pd.reset_option('display.max_rows')

In [171]:
#! python.exe -m pip install --upgrade pip
#import xlsxwriter

Requirement already satisfied: pip in c:\users\alex\documents\gb\python_2022\.python_b_hw\lib\site-packages (23.0.1)
Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 3.7 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.2.1

In [181]:
#os.getcwd()
with pd.ExcelWriter('merge.xlsx', engine='xlsxwriter') as writer:
    # Write dataframe to new sheet
    df_merge.to_excel(writer, sheet_name='merge')
    
    # Close the Pandas Excel writer and output the Excel file.
    writer.close()

C:\Users\Alex\My Documents\gb\Python_2022\.python_b_hw\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")